


<div class="row">
    <div class="col-xl-6 col-md-6">
        <div class="card bg-c-blue text-white">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="m-b-5">Usuários Cadastrados</p>
                        <h4 class="m-b-0"><%= @total_users %></h4>
                    </div>
                    <div class="col col-auto text-right">
                        <i class="icofont icofont-users-social f-50 text-c-blue"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-6">
        <div class="card bg-c-yellow text-white">
            <div class="card-block">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="m-b-5">Equipes Cadastradas</p>
                        <h4 class="m-b-0"><%= @total_equipes %></h4>
                    </div>
                    <div class="col col-auto text-right">
                        <i class="icofont icofont-jersey f-50 text-c-pink"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>