
<% @times.each do |time| %>
 <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-block user-radial-card">
                <div data-label="50%" class="radial-bar radial-bar-90 radial-bar-lg radial-bar-danger">
                    <%= image_tag("avatar-2.jpg", alt:"User-Image") %>
                </div>
                <span class="f-20 text-c-black"><%= time.nome_time %></span>
                <p><%= time.cartoleiro %></p>
            </div>
        </div>
    </div>
<% end %>
  
  
    <div class="col-xl-12 col-md-12">
    
        <div class="card social-card bg-simple-c-white" >
            <div class="card-block" >
                <div class="row align-items-center">
                    <div class="col-auto">
                        <%= image_tag("avatar-2.jpg", alt:"User-Image") %>
                    </div>
                    <div class="col">
                        <h6 class="m-b-0" style="color: black;"><b>Goleiro:</b></h6>
                        <p class="m-b-0" style="color: black;">Diego Alves</p>
                        <h6 class="m-b-0" style="color: black;"><b>Pontuação:</b></h6>
                        <p class="m-b-0" style="color: black;">8,50</p>
                        <h6 class="m-b-0" style="color: black;"><b>Estatistica:</b></h6>
                        <p class="m-b-0" style="color: black;">rb,2gols,3pe</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>