<% unless @user_encontrado == []%>
<h1 class="text-center"> USUÁRIO ENCONTRADO </h1>
<div class="card-block table-border-style">
<div class="table-responsive">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>E-mail</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        <% @user_encontrado.each do |user| %>
        <tr>
            <th scope="row"><%= user.id%></th>
           
                    <td> <%= user.email%> </td>
                    <td style="width: 100px; text-align: center;">
                        
                        <%= link_to admins_backoffice_users_path(:user => user), class:"btn btn-danger btn-icon"  do %>
                        
                        <i class="icofont icofont-ui-remove justify-content-center"></i>
                        <% end %>
                        
                      
                    </td>
        </tr>
     <% end %>
    </tbody>
</table>
<h1></h1>

</div>
</div>


<% else %>
<h1 class="text-center" style="color: red;"><b> ATENÇÃO </b></h1>
<h2 class="text-center"> Não encontramos o usuário <b><%= @user %></b>, por favor verifique se digitou o e-mail correto. </h2>

<% end %>