<div class="row">
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="feather icon-user bg-simple-c-blue card1-icon"></i>
            <h4>652</h4>
            <p>Latest User</p>
            <a href="#!" class="more-info">More Info</a>
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="feather icon-user bg-simple-c-blue card1-icon"></i>
            <h4>652</h4>
            <p>Latest User</p>
            <a href="#!" class="more-info">More Info</a>
        </div>
    </div>
</div>

<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="feather icon-user bg-simple-c-blue card1-icon"></i>
            <h4>652</h4>
            <p>Latest User</p>
            <a href="#!" class="more-info">More Info</a>
        </div>
    </div>
</div>

<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-football-alt bg-simple-c-blue card1-icon"></i>
            <h4>652</h4>
            <p>Latest User</p>
            <a href="#!" class="more-info">More Info</a>
        </div>
    </div>
</div>

</div>

