<section class="login-block">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
    
                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                        <div class="text-center">
                              <%= image_tag 'logo.png', alt:"Responsive image", class:"" %>
                        </div>
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center">Esqueceu a senha?</h3>
                                    </div>
                                </div>
                                
                                <div class="form-group form-primary">
                                    <%= f.email_field :email, autofocus: true, placeholder:"Email", class:"form-control" %>
                                    <span class="form-bar"></span>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                     <%= f.submit "Enviar instruções para o meu email", class:"btn btn-primary btn-md btn-block waves-effect text-center m-b-20" %>
                                       
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    <% end %>
                  
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>
   
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
