<body style="background-image: url(<%= asset_path('fundo.jpg') %>) ; background-position: center; background-repeat: no-repeat;background-size: cover;">

<%= render partial: 'site/shared/site'  %>

</body>