<body style="background-image: url(<%= asset_path('fundo.jpg') %>) ; background-position: center; background-repeat: no-repeat;background-size: cover;">
<h1 class="text-center" style="color: white;"> APOSTAS EM ABERTO </h1>
<%= render partial: 'site/shared/site'  %>

</body>