
<h1 class="text-center"> LIGA RODADA <%= @rodada %> </h1>
<% unless @apostador == [] %>
<% @apostador.each do |apostador| %>
<div class="col-md-12 col-xl-12" style="height:80%;">
    <div class="card widget-card-1">
        <div class="card-block-small">
            <i class=" bg-c-blue card1-icon"></i>
                    <div class="row">
                    <div class="col-6">
                    
                    <h4 style="color: white">.</h4>
                    <h4><%= apostador.equipe.nome_time%></h4>
                    </div>
                    <div class="col-6">
                    
                    <h4 style="color: white">.</h4>
                    <h4>Pontos</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<% end %>
<% else %>
<h1 class="text-center" style="color: red;"><b> ATENÇÃO </b></h1>
<h2 class="text-center"> Não encontramos o time <b><%= @equipe %></b> por um dos motivos a seguir: </h2>
<h3 class="text-center"> 1º O time não está participando dessa aposta; </h3>
<h3 class="text-center"> 2º Você digitou o nome do time errado. </h3>

<% end %>
