
<%= image_tag 'https://s.glbimg.com/es/sde/f/2020/03/09/f29c869ccdfaa407340b9047dbf761fa_140x140.jpeg', alt:"Responsive image", class:"" %>

<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para alterar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, ignore este e-mail.</p>
<p>Sua senha não será alterada até você acessar o link acima e criar uma nova senha.</p>
